.Lyric {
    position: relative;
    width: inherit;
    border-radius: 4px;
    background-color: var(--cl-bg-active);
    margin-top: 4px;
    padding: 18px 24px 54px 24px;

    color: var(--cl-text);

    &__top {
        h3 {
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
        }

        span {
            color: var(--cl-btn);
            margin-top: 12px;
            display: block;
        }
        hr {
            margin-top: 16px;
            border: none;
            border-bottom: 1px solid var(--cl-bg-lighter);
        }
    }

    &__content {
        margin-top: 24px;
        font-size: 14px;
        line-height: 2;
        max-height: 80px;
        overflow: hidden;
        position: relative;

        &.readMore {
            max-height: fit-content;
        }
    }
    button {
        position: absolute;
        border: none;
        background-color: transparent;
        bottom: 24px;
        color: var(--cl-btn);

        &:hover {
            color: var(--cl-hover);
        }
    }
}
