@import "../../../responsive.scss";

.TopicEvent {
    position: relative;
    h3 {
        margin: 32px 32px 0;
        font-size: 22px;
        @include mobile {
            margin: 16px 16px 0;
        }
    }
    .mySwiper {
        margin: 16px 32px 0 32px;
        @include mobile {
            margin: 8px 16px 0 16px;
        }
    }

    &__btns {
        display: flex;
        gap: 8px;
        position: absolute;
        top: 0;
        right: 0;
        margin: 8px 32px 0;
        font-size: 20px;

        .TopicEvent-prev-btn,
        .TopicEvent-next-btn {
            cursor: pointer;
            color: var(--cl-btn);
        }
    }
}
