@import "../../../responsive.scss";

.SearchDefault {
    &__container {
        padding: 40px 32px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        h2 {
            font-size: 22px;
            font-weight: bold;
        }

        &-item {
            position: relative;
            &-key {
                display: flex;
                flex-wrap: wrap;
                margin-top: 16px;
                gap: 18px;

                @include mobile {
                    gap: 8px;
                }
                div {
                    position: relative;
                    padding: 6px 12px 5px;
                    background-color: var(--cl-bg-lighter);
                    margin-bottom: 4px;
                    border-radius: 4px;
                    font-size: 14px;
                    color: var(--cl-btn);
                    display: inline-block;
                    cursor: pointer;

                    ::before {
                        content: "";
                        position: absolute;
                        right: -10px;
                        bottom: 0;
                        width: 0;
                        height: 0;
                        border-left: 10px solid var(--cl-bg-lighter);
                        border-top: 15px solid transparent;
                        border-bottom: 15px solid transparent;
                        border-top-left-radius: 3px;
                        border-bottom-left-radius: 3px;
                    }
                    span {
                        color: var(--cl-hover);
                        font-weight: 700;
                        margin-right: 0.8rem;
                    }
                }
            }

            .SearchDefault-histories {
                margin-top: 16px;

                p {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 4rem;
                    margin-bottom: 0.4rem;
                    background-color: var(--cl-bg-active);
                    border-radius: 0.4rem;
                    padding: 0px 16px;
                    color: var(--cl-btn);
                    cursor: pointer;

                    &:hover {
                        background-color: var(--cl-bg-lighter);
                        .Search-del-icon {
                            display: block;
                        }
                    }

                    .Search-del-icon {
                        font-size: 20px;
                        display: none;
                    }
                }
            }
            .SearchDefault__clearAll {
                position: absolute;
                right: 10px;
                top: 10px;
                border: none;
                background-color: transparent;
                color: var(--cl-btn);

                &:hover {
                    color: var(--cl-hover);
                }
            }
        }
    }
}
