.NewRelease {
    margin-top: 40px;
    &__title {
        font-size: 2.4rem;
        font-weight: 700;
        text-transform: capitalize;
        margin-left: 32px;

        &:hover {
            color: var(--cl-hover);
        }
    }

    &__item {
        &-showcase {
            background-color: var(--cl-bg-new);
            display: flex;
            margin-top: 16px;
            padding: 2rem 4rem;

            .NewRelease-img {
                margin-right: 40px;
                img {
                    width: 160px;
                    height: 160px;
                    object-fit: cover;
                    border-radius: 4px;
                }
            }

            .NewRelease-info {
                width: 100%;
                &-title {
                    font-size: 1.4rem;
                    line-height: 18px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    vertical-align: text-bottom;
                }

                &-artists {
                    display: flex;
                    align-items: center;
                    margin-top: 8px;
                    &-img {
                        margin-right: 8px;
                        padding-left: 8px;
                        img {
                            width: 24px !important;
                            height: 24px;
                            border: 1px solid #ffffff;
                            border-radius: 50%;
                            margin-left: 0;
                            z-index: 1;
                            margin-left: -10px;
                        }
                    }
                }

                &-date {
                    margin-top: 6px;
                    color: var(--cl-btn);

                    span {
                        margin-left: 8px;
                    }
                }

                &-hr {
                    height: 0.1rem;
                    background-color: rgba(244, 246, 248, 0.05);
                    margin: 1.6rem 0 0.8rem 0;
                }
            }
        }
    }

    &__link {
        &:hover {
            color: var(--cl-hover) !important;
        }
    }
}
