.Search {
    &__top {
        height: 64px;
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--cl-bg-lighter);
        padding: 0px 32px;
        &-search {
            display: flex;
            align-items: center;
            width: 50%;
            height: 40px;
            border: 1px solid var(--cl-bg-lighter);
            border-radius: 4px;
            color: var(--cl-btn);
            position: relative;

            .icon-search {
                width: 40px;
                font-size: 19px;
            }
            &:focus-within {
                border-color: var(--cl-hover);
            }

            input {
                background-color: transparent;
                border: none;
                font-size: 14px;
                flex: 1;
                color: var(--cl-btn);

                &:-webkit-autofill,
                &:-webkit-autofill:focus {
                    transition: background-color 600000s 0s, color 600000s 0s;
                }
            }

            .icon-close {
                position: absolute;
                right: 10px;
                height: 40px;
                cursor: pointer;
            }
        }
    }
}
