@import "../../responsive.scss";

.Footer {
    border-top: 1px solid var(--cl-border);
    margin-top: 80px;
    color: var(--cl-btn);

    &__top {
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 32px;
        margin-right: 32px;

        border-bottom: 1px solid var(--cl-border);

        @include tablet {
            flex-direction: column;
        }

        &-left {
            @include mobile {
                padding-top: 8px;
            }
            a {
                padding: 0 10px;

                &:hover {
                    color: var(--cl-hover);
                }
            }

            a + a {
                border-left: 2px solid var(--cl-bg-lighter);
            }
        }

        &-right {
            display: flex;
            align-items: center;

            &-social {
                display: flex;
                align-items: center;
                font-size: 28px;
                margin-right: 12px;
                a {
                    padding: 4px;
                    &:hover:first-child {
                        color: #4267b2;
                    }

                    &:hover:last-child {
                        color: #d92e7f;
                    }
                }
            }

            &-app {
                display: flex;
                align-items: center;
                a {
                    display: flex;
                    align-items: center;
                    margin-right: 8px;
                    img {
                        height: 24px;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    &__center {
        margin: 1.6rem 3.2rem 0 3.2rem;
        @include mobile {
            margin: 1rem 1.2rem 0 1.2rem;
        }

        .tick {
            &::before {
                content: "";
                display: block;
                width: 0.4rem;
                height: 0.4rem;
                background-color: var(--cl-btn);
                border-radius: 50%;
                float: left;
                margin: 0.7rem 0.8rem 0 0;
            }
        }

        &-head {
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include tablet {
                flex-direction: column;
                gap: 10px;
                padding: 10px;
            }

            &-info {
                display: flex;

                img {
                    object-fit: cover;
                    margin-right: 24px;
                }

                article {
                    h4 {
                        color: var(--cl-text);
                    }
                }
            }
            &-img {
                display: flex;
                align-items: center;

                img {
                    margin-left: 16px;
                }
            }
        }

        &-info {
            p {
                padding-top: 8px;
            }
        }
    }

    &__bottom {
        padding: 0 3.2rem;
        margin-top: 1.6rem;
        height: 5.6rem;
        background-color: var(--cl-bg-active);
        display: flex;
        align-items: center;
        @include tablet {
            flex-direction: column;
            gap: 10px;
            padding: 1rem 1.6rem;
            height: fit-content;
            justify-content: center;
            align-items: flex-start;
        }

        .icon-footer {
            font-size: 1.8rem;
            margin-right: 0.8rem;
        }

        a {
            display: flex;
            align-items: center;
            margin-right: 32px;
            cursor: pointer;
        }
    }
}
