:root {
    --cl-text: #f4f6f8e0;
    --cl-btn: #f4f6f880;
    --cl-bg: #18222d;
    --cl-bg-lighter: #f4f6f80d;
    --cl-bg-active: #f4f6f805;
    --cl-border-btn: #f4f6f81a;

    --cl-bg-menu: #18222d;
    --cl-bg-menu-hover: rgba(244, 246, 248, 0.05);

    --cl-hover: #2daaed;
    --cl-border: #28313c;
    --cl-icon: #f4f6f833;
    --cl-bg-new: #f4f6f805;
    --width-sidebar: 200px;
    --width-rightbar: 320px;
    --animation-skeleton: skeleton 0.5s infinite ease alternate;
}
.light-theme {
    --cl-text: #1c1e20e0;
    --cl-btn: #1c1e2080;
    --cl-bg: #fafafa;
    --cl-bg-lighter: #1c1e200d;
    --cl-bg-active: #1c1e2005;
    --cl-hover: #2daaed;
    --cl-border: #1c1e200d;
    --active: #1c1e200d;
    --cl-bg-menu: #fafafa;
    --cl-border-btn: #1c1e201a;
    --cl-icon: #1c1e2033;
    --cl-bg-new: #1c1e2005;
}

// import fonts
@font-face {
    font-family: NhacCuaTui;
    src: url(../../assets/fonts/NhacCuaTui-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: NhacCuaTui;
    src: url(../../assets/fonts/NhacCuaTui-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: NhacCuaTui;
    src: url(../../assets/fonts/NhacCuaTui-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: NCTicons;
    src: url(../../assets/fonts/NCTicons.ttf);
    font-weight: 700;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "NhacCuaTui", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.3rem;
    line-height: 1.5;
    // text-rendering: optimizespeed;
    background-color: var(--cl-bg);
    color: var(--cl-text);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    cursor: pointer;
}

input {
    outline: none;
}

//

@keyframes scale {
    0% {
        opacity: 0;
        scale: 0;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes skeleton {
    to {
        opacity: 0.5;
    }
}

@media only screen and (max-width: 1300px) {
    :root {
        --width-rightbar: 0px;
    }
}
.link {
    &:hover {
        color: var(--cl-hover) !important;
    }
}

// responsive
@mixin mobile {
    @media (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 960px) {
        @content;
    }
}
