@import "../../responsive.scss";

.Music4U {
    padding: 24px 32px 0px 32px;
    @include mobile {
        padding: 12px 16px 0px 16px;
    }

    &__info {
        display: flex;
        gap: 24px;
        color: var(--cl-btn);
        @include tablet {
            flex-direction: column;
            align-items: center;
        }

        &-img {
            border-radius: 8px;
            overflow: hidden;
            margin-top: 16px;
            position: relative;

            width: 230px;
            height: 230px;

            @include tablet {
                width: 60%;
                height: 60%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &-play {
                position: absolute;
                bottom: 15px;
                right: 10px;
                font-size: 30px;
                width: 42px;
                height: 42px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #ffffff;
                border-radius: 50%;
                background-color: #00000033;
                cursor: pointer;
            }
        }

        &-main {
            flex: 1;
            .title {
                font-size: 14px;
                b {
                    color: var(--cl-text);
                    font-size: 16px;
                }
            }
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: fit-content;
                height: 3.2rem;
                margin-top: 2.4rem;
                padding: 1rem 3.7rem;
                border-radius: 1.6rem;
                border: 1px solid var(--cl-border-btn);
                color: var(--cl-btn);
                background-color: transparent;

                &:hover {
                    border: 1px solid var(--cl-hover);
                    color: var(--cl-hover);
                }
            }
            .artist {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-top: 8px;

                &-imgs {
                    img {
                        width: 24px;
                        height: 24px;
                        object-fit: cover;
                        border-radius: 50%;
                        border: 1px solid white;
                    }
                }

                &-name {
                    display: flex;
                }
            }

            .date {
                margin-top: 18px;
            }

            .description {
                font-size: 14px;
                margin-top: 12px;
            }
        }
    }

    &__createBy {
        height: 64px;
        margin-top: 24px;
        display: flex;
        align-items: center;
        gap: 8px;
        background-color: var(--cl-bg-active);

        img {
            width: 38px;
            height: 38px;
            object-fit: cover;
            border-radius: 50%;
            margin-left: 24px;
        }

        &-info {
            .name {
                color: var(--cl-hover);
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }

    &__SongList {
        h1 {
            margin-top: 44px;
            margin-bottom: 16px;
            font-size: 22px;
            font-weight: 700;
        }

        .Music4U__head {
            display: flex;
            background-color: var(--cl-bg-active);
            height: 32px;
            align-items: center;
            &-title {
                flex: 4;
                padding: 0 16px;
            }

            &-artist {
                flex: 4;
            }

            &-listens {
                flex: 1;
                @include tablet {
                    display: none;
                }
            }

            &-duration {
                flex: 1;
                @include tablet {
                    display: none;
                }
            }
            span {
                font-weight: 700;
            }
        }

        .Music4U__song {
            display: flex;
            background-color: var(--cl-bg-active);
            height: 40px;
            align-items: center;
            margin-top: 2px;
            &-title {
                flex: 4;
                padding: 0 16px;
                font-size: 14px;
                cursor: pointer;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &.active {
                    color: var(--cl-hover);
                }

                &:hover {
                    color: var(--cl-hover);
                }
            }

            &-artists {
                flex: 4;
                // display: flex;
                // flex-wrap: wrap;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &-listens {
                flex: 1;
                @include tablet {
                    display: none;
                }
            }

            &-duration {
                flex: 1;
                @include tablet {
                    display: none;
                }
                span {
                    margin-left: 16px;
                }
            }
        }
    }
}
